body{
	margin: 0;
}
header{
    background: #3a3a43;
    margin: 0;
    	menu{
		ul{
			.logo{
				color: red;
			}
			li{
				display: inline-block;
				list-style: none;
				padding: 15px;
				color: white;
			}
		}
	}
}

.sidebar{
	float: right;
	width: 250px;
}

.content{
	// width: calc(100% - 250px);
	margin: 15px;
	padding: 5px;
	border: 1px solid grey;
	.big-news{
		border-bottom: 1px solid grey;
	 .news-body {
	 	img{
	 		width: 400px;
	 		float: left;
	 	}
	 	.news-content{
	 		min-height: 300px;
	 		padding: 5px;
	 	}
	 }
		}
	.news{
		img{
			float: left;
			width: 300px;
		}
	}
}

.another{
	    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
	.wrapper{
		div{
		border: 2px solid black;	
		display: inline-block;
		width: 30%;
		img{
			width: 300px;
		}
		}
	}

}