body {
	margin: 0;
	font-family: arial;
}
header{
    background: #3a3a43;
    margin: 0;
    // position: fixed;
    	menu{
    		margin: 0;
    		padding: 0;
		ul{
			padding: 0;
			.logo{
				color: red;
			}
			li{
				display: inline-block;
				list-style: none;
				padding: 12px;
				color: white;
				vertical-align: middle;
			}
			.active{
				border-bottom: #fc0 3px solid;
				color: #fc0;
			}
			.spec{
				color: orange;
				// background: url('header-icons.png')  -15px 102% no-repeat;
				&:before{
					content: '';
position: absolute;
margin-left: -18px;
margin-top: -7px;
background: url('header-icons.png') 0 -109px no-repeat;
padding: 24px 0 0 17px;
				}

				
			}
			.absolute{
				&:hover{
					stroke: #5079dd;
				}
			}

		}
	}
}

.fixed{
	position: fixed;
	top: 0px;
	width: 100%;
}
.sidebar{
	float: right;
	width: 250px;
	background: #e4dede;
	padding: 15px;
	// position: fixed;
	// left: 80%;
	img{
		width: 250px;
	}
}

.container{
	// position: relative;
max-width: 100%;
margin: 0 auto;
width: 100%;
max-width: 1366px;
min-width: 1140px;
}
.wrapper{

    margin: 0 auto;
    width: auto;

}
main{
	margin-top: -14px;
}

.content{
	// width: calc(100% - 250px);
	max-width: 976px;
	min-width: 740px;
	margin: 15px;
	padding: 35px;
	border:  1px solid #ccc8c8;
	.big-news{
		border-bottom: 1px solid #ccc8c8;
		.news-title{
			.title-text,.title-date{
				display: inline-block;
				width: 60%;
				    font-size: 24px;
			}

			.title-date{
				   width: 30%;
				   text-align: center;
			}
		}
	 .news-body {
	 	img{
	 		width: 400px;
	 		float: left;
	 		padding-right: 15px;
	 	}
	 	.news-content{
	 		min-height: 300px;
	 		padding: 5px;
	 	}
	 }
		}
	 	time{
	 		    background: #3c3a3a;
   				color: #e4e40d;
   				padding: 5px;
   				border-radius: 2px;
	 	}
	.news{
		padding: 10px;
		min-height: 200px;
		img{
			float: left;
			width: 300px;
			padding-right: 15px;
			height: 200px;
		}
	}

	.little-news{
		.time{
			float: right;
			padding: 30px;
			time{
				margin-top: 5px;
				color: white;
			}
		}
			.warning_date{
				position: absolute;
				margin-left: 13%;
			}
	}
}

.phone{
	padding: 15px;
	background: #57ec57;
	color: white;
	font-weight: bold;
	border-radius: 2px;
}

.warning_date{
	background: #ec3b3b;
	color: #fff;
	padding: 5px;
	border-radius: 2px;
	width: 100px;
	font-size: 12px;
	text-align: center;
}

.breadcrumbs{
	color: #4a4aef;
	font-size: 12px; 
}

.another{
	    
    
	.wrapper{
	margin: 15px;
display: flex;
align-content: center;
justify-content: space-between;
flex-wrap: wrap;
min-width: 1015px;
max-width: 76.8%;

		div{
		border: 1px solid #ccc8c8;	
		display: inline-block;
		width: 300px;
		margin-bottom: 30px;
		&:hover{
			box-shadow: 3px 1px 6px rgba(0,0,0,0.5);;
		}
		p{
			margin: 10px;
		}
		img{
			width: 300px;
			height: 180px;
		}
		}
	}

}